<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
            {{ data_form.non_field_errors }}
    </div>
    <table>
        {% for field in data_form %}
            <tr>
                <td>
                    {{ field.label_tag }}
                </td>
                <td>
                    {{ field }}
                </td>
                <td style="color: red;font-weight: bold">
                    {{ field.errors }}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit">
                </td>
                <td></td>
            </tr>
    </table>

</form>
</body>
</html>