{% extends 'accounts/profile_skelton.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Edit Info
{% endblock title %}

{% block style %}
    <style>
        .story__shape {
            position: relative;
        }

        .story__img {
            transition: all .5s;
        }

        .story__caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 80%);
            color: white;
            text-transform: uppercase;
            text-align: center;
            opacity: 0;
            transition: all .5s;
            backface-visibility: hidden;
        }

        .story__shape:hover .story__caption {
            opacity: 1;
            transform: translate(-50%);
        }

        .story__shape:hover .story__img {
            filter: blur(3px) brightness(80%);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col s12 m9 l9 center purple darken-2">
        <div class="row">
            <div class="story" onclick="open_profile_pic_upload_box()">
                <figure class="story__shape">
                    <img src="{% static 'img/person1.jpg' %}" class='circle responsive-img row1  story__img' alt="" id="edit_profile_pic">
                    <a href="#">
                        <figcaption class="story__caption">Change</figcaption>
                    </a>
                </figure>
            </div>
            <div class="user_fullname">
                John Doe
            </div>
            <div class="user_username">
                @johndoe (username)
            </div>
        </div>

        <div class="row">
            <form action="" method="post" id="edit-info-form">
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate">
                            <label for="disabled">College Name : </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate">
                            <label for="disabled">About You : </label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col s12 m6 l6">

                            <div class="row">
                                <div class="input-field col s12 m3 l3" style="width:30%;">
                                    <label for="id_country_code" style="display:none">Country Code for Phone Number:</label>

                                    <select name="country_code" id="id_country_code">
                                        <option value="+91" selected>India(+91)</option>
                                        <option value="+7">Russia(+7)</option>
                                        <option value="+81">Japan(+81)</option>
                                        <option value="+1">USA(+1)</option>
                                        <option value="+972">Israel(+972)</option>
                                    </select>
                                </div>
                                <div class="input-field col s12 m9 l9" style="width:70%">
                                    <input type="text" name="phone_number" maxlength="10" id="id_phone_number"/>
                                    <label for="id_phone_number">Enter Phone Number</label>
                                </div>
                            </div>

                        </div>
                        <!--
                          <div class="input-field col s12 m6 l6">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email : </label>
                          </div>
                        -->
                    </div>


                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input id="email" type="text" class="validate">
                            <label for="email">GitHub Username : </label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <input id="email" type="text" class="validate">
                            <label for="email">HackerRank Username : </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input id="email" type="text" class="validate">
                            <label for="email">CodeChef Username : </label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <input id="email" type="text" class="validate">
                            <label for="email">CodeForces Username : </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select>
                                <option value="0">None</option>
                                <option value="1">Small (S)</option>
                                <option value="2">Medium (M)</option>
                                <option value="3">Large (L)</option>
                                <option value="4">Extra Large (XL)</option>
                                <option value="5">Extra Extra Large (XXL)</option>
                            </select>
                            <label>T-Shirt Design</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-large" value="Update">
                </div>
                <div style="display: none" onchange="update_profile_image()">
                    <input type="file" id="profile_picture_upload">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block endscripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script>
      file_upload_box = document.getElementById('profile_picture_upload');
      function open_profile_pic_upload_box() {
        file_upload_box.click();
      }
      profile_image = document.getElementById('edit_profile_pic');
      profile_image.onclick = open_profile_pic_upload_box();

      function update_profile_image() {


        if (file_upload_box.files && file_upload_box.files[0]) {
          let reader = new FileReader();

          reader.onload = function(e) {
            profile_image.src = e.target.result;
          };

          reader.readAsDataURL(file_upload_box.files[0]);
        }
      }

      $(document).ready(function () {
        $('select').material_select();

      });
    </script>
{% endblock %}

{% comment %}
<form action="" method="post">
    {% csrf_token %}
    {{ user_data_form.as_p }}
    {{ more_user_data_form.as_p }}
    <input type="submit" value="Update">

</form>
{% endcomment %}
