{% extends 'accounts/profile_skelton.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    My Events
{% endblock title %}

{% block style %}
    <style>
        .update_heading {
            font-weight: bolder;
            font-size: 160%;
        }

        .update_button {
            color: black;
        }

        .update_text {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col s12 m9 l9 center red darken-2">
        <div>
            <div class="card-panel grey darken-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="{% static 'img/person1.jpg' %}" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <div class="black-text update_heading">
                            Sample Event Heading
                        </div>
                        <div class="black-text update_text">
                            Sample Event Content
                        </div>
                        <div class="black-text">
                            <button class="btn btn-medium update_button">Sample Action Button</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-panel grey darken-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="{% static 'img/person1.jpg' %}" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <div class="black-text update_heading">
                            Event 1
                        </div>
                        <div class="black-text update_text">
                            Starts In : 45 minutes
                        </div>
                        <div class="black-text ">
                            <button class="btn btn-medium update_button">De-Register</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-panel grey darken-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="{% static 'img/person1.jpg' %}" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <div class="black-text update_heading">
                            Event 2
                        </div>
                        <div class="black-text update_text">
                            Event Concluded
                        </div>
                        <div class="black-text">
                            <div>Your Rank : 2</div>
                            <div>
                                <button class="btn btn-medium update_button">View Ranklist</button>
                            </div>
                            <div style="margin-top:10px;">
                                <button class="btn btn-medium update_button">Collect Prize</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
