{% extends 'accounts/profile_skelton.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <div class="col s12 m9 l9 center grey darken-2">
        <div class="row">
            <img src="{{ profile.profile_pic }}" class='circle responsive-img row1' alt="">
            <div class="user_fullname">
                {{ profile.fullname }}
            </div>
            <div class="user_username">
                @{{ profile.username }}
            </div>

        </div>
        <div class="row">
            <ul class="collection">
                {% if profile.details_check %}
                    <li class="collection-item left-align">
                        About :
                        <span>{{ profile.about }}</span>
                    </li>
                    <li class="collection-item left-align">
                        Institute :
                        <span>{{ profile.college }}</span>
                    </li>
                    <li class="collection-item left-align">
                        <ul class="collapsible z-depth-1">
                            <li>
                                <div class="collapsible-header"><i
                                        class="material-icons">filter_drama</i><span>Connect</span></div>
                                <div class="collapsible-body">
                                    <ul class="collection">
                                        <li class="collection-item">Github : {{ profile.github_id }}</li>
                                        <li class="collection-item">CodeChef : {{ profile.codechef_id }}</li>
                                        <li class="collection-item">HackerRank : {{ profile.hackerrank_id }}</li>
                                        <li class="collection-item">Codeforces : {{ profile.codeforces_id }}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="collection-item left-align">
                        <div class="row">
                            Contact :
                        </div>
                        <div class="row center">
                            <div class="col s12 m6 l6">
                                Email : {{ profile.email }}
                            </div>
                            <div class="col s12 m6 l6">
                                Phone : {{ profile.phone_number }}
                            </div>
                        </div>
                    </li>

                {% else %}

                    <li class="collection-item left-align">
                        About :
                        <span>Not Set Yet</span>
                    </li>
                    <li class="collection-item left-align">
                        Institute :
                        <span>Not Set Yet</span>
                    </li>
                    <li class="collection-item left-align">
                        <ul class="collapsible z-depth-1">
                            <li>
                                <div class="collapsible-header"><i
                                        class="material-icons">filter_drama</i><span>Connect</span></div>
                                <div class="collapsible-body">
                                    <ul class="collection">
                                        <li class="collection-item">Github : ----</li>
                                        <li class="collection-item">CodeChef : ----</li>
                                        <li class="collection-item">HackerRank : ----</li>
                                        <li class="collection-item">Codeforces : ----</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="collection-item left-align">
                        <div class="row">
                            Contact :
                        </div>
                        <div class="row center">
                            <div class="col s12 m6 l6">
                                Email : {{ profile.email }}
                            </div>
                            <div class="col s12 m6 l6">
                                Phone : Not Set
                            </div>
                        </div>
                    </li>

                {% endif %}

                <li class="collection-item left-align">
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <a href="{% url 'accounts:edit_additional_info' %}"><button name="button" class="btn">Edit Profile</button></a>
                        </div>
                        <div class="col s12 m4 l4">
                            <a href="{% url 'accounts:change_password' %}"><button name="button" class="btn">Change Password</button></a>
                        </div>
                        <div class="col s12 m4 l4">
                            <a href="{% url 'accounts:disp_qr_code' %}" download><button name="button" class="btn">Download QR Code</button></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}



{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a>Logo</a> |
    <a href="{% url 'accounts:myevents' %}">My Events</a> |
    <a>Teams</a> |
    <a href="{% url 'accounts:edit_additional_info' %}">Edit Profile</a> |
    <a href="{% url 'accounts:profile_home' %}">Hello {{ user.username }}</a> |
    <a href="{% url 'registration:logout' %}">Logout</a><br><br>

</nav>
{% if additional_info_check %}
    {% if not user.profile_pic %}
        You haven't set a profile pic yet. <a href="{% url 'accounts:edit_additional_info' %}">Click Here</a> to set one
    {% else %}
        Great. You are all all done
    {% endif %}
{% else %}
    Your Account seems to be missing some critical info. <a href="{% url 'accounts:edit_additional_info' %}">Click here</a> to add missing information
{% endif %}
</body>
</html>

{% endcomment %}