{% extends 'accounts/profile_skelton.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Updates
{% endblock title %}

{% block style %}
    <style>
        .update_heading {
            font-weight: bolder;
            font-size: 160%;
        }

        .update_button {
            color: black;
        }

        .update_text {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col s12 m9 l9 center red darken-2">
        <div>

            <div class="card-panel grey darken-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s10">
                        <div class="black-text update_heading">
                            Sample Update Heading
                        </div>
                        <div class="black-text update_text">
                            Some Sample Update Text
                        </div>
                        <div class="update_button">
                            <a href="https://www.google.com">
                                <button class="btn btn-medium black-text">Action Button</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-panel grey darken-5 z-depth-1">
                <div class="row valign-wrapper">

                    <div class="col s10">
                        <div class="black-text update_heading">
                            <!-- Update Heading-->
                            Add Missing Info
                        </div>
                        <div class="black-text update_text">
                            Your Profile seems to be missing some critical information.
                            <br>You will not be able to register for events without filling out the missing info.<br>
                            Please fill it up.
                        </div>
                        <div>
                            <a>
                                <button class="btn btn-medium black-text">Edit Info</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-panel grey darken-5 z-depth-1">
                <div class="row valign-wrapper">

                    <div class="col s10">
                        <div class="black-text update_heading">
                            <!-- Update Heading-->
                            1st prize in Elektra
                        </div>
                        <div class="black-text update_text">
                            Congratulations. You have won 1st prize in Elektra 3.0. <br>
                            Please collect your prize today at 8pm in the main hall
                        </div>
                        <div>
                            <a>
                                <button class="btn btn-medium black-text">View Ranklist</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}