{% load static %}
{% load events_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>

{% for event in events %}
    <hr>
    {% if event.logo %}
    Logo Url : {{ event.logo}}<br>
    {% else %}
    No Logo Available <br>
    {% endif %}
    <a href="{% url 'event info' event.out_form.name.value|strtoslug  %}">{{ event.out_form.name.value }}</a><br>
    {{ event.out_form.description.value }}<br>
    {{ event.out_form.start_date_time.value }}<br>
    {{ event.out_form.end_date_time.value }}<br>
{% endfor %}
</body>
</html>