        body
        {
            background-image: url("../images/sat.jpeg");
            background-size: auto;
            background-repeat: no-repeat;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: top center 
            background-repeat: no-repeat 
            background-attachment: fixed;
        }
    	#main
    	{
    		position: fixed;
    		width: 70%;
    		margin-top: 12%;
    		margin-left: 15%;
    		background-color: rgb(198, 226, 255);
    		border:1px solid black;
    		padding-top: 1.5%;
    		padding-bottom: 2%;
    		font-family: "Comic Sans MS", cursive, sans-serif;
    	}