@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@font-face
{
	font-family: 'chiller';
	src:url('CHILLER.TTF') format('truetype');
}
@font-face
{
  font-family: 'local1';
  src:url('BRADHITC.TTF') format('truetype');
}
@font-face
{
  font-family: 'local2';
  src:url('CHILLER.TTF') format('truetype');
}
@font-face
{
  font-family: 'local3';
  src:url('FELIXTI.TTF') format('truetype');
}
body
{
	background-image: url("../images/signup4.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center 
	background-repeat: no-repeat 
	background-attachment: fixed;
}


@media (min-width: 900px) {
    .container-login{
        max-width: 400px;
    }

}
@media (min-width: 500px) {
    .container-name{
        max-width: 600px;
    }

}
.container-name
{
  float: left;
}

.container-login
{
  box-shadow: 1px 2px 20px lightblue;
  border-radius: 25px;
  margin-top: 3%;
  background: linear-gradient(to bottom right,black,rgb(34, 6, 102));
}


@keyframes textAnim {
  0% {font-size: 80px; fill: white;}
  10% {font-size: 100px; fill: rgb(123, 0, 255)}
  40% {font-size: 70px; fill: white;}
  100% {font-size: 80px; fill: white;}
}

@-webkit-keyframes textAnim {
  0% {font-size: 80px; fill: white;}
  10% {font-size: 100px; fill: rgb(123, 0, 255);}
  40% {font-size: 70px; fill: rgb(157, 83, 237);}
  100% {font-size: 80px; fill: white;}
}

text tspan{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  animation: textAnim 2s ease infinite;
  -webkit-animation: textAnim 2s ease infinite;
}
.sub_name
{
  font-family: "Roboto Slab";
  font-size: 20px;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #5e0522 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  overflow: hidden;
  text-align: center;
  color: white;
}
.h4-text
{
  font-family: 'local3';
  font-size: 17px;
  background: linear-gradient(violet,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4:before,
h4:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

h4:before {
  right: 0.1em;
  color: white;
  margin-left: -50%;
}

h4:after {
  left: 0.1em;
  color: white;
  margin-right: -50%;
}

#l2 {
  animation-delay: .1s;
  -webkit-animation-delay: .1s;
}
#l3 {
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
}
#l4 {
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
}
#l5 {
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}

#l6 {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}

#l7 {
  animation-delay: .6s;
  -webkit-animation-delay: .6s;
}
#l8 {
  animation-delay: .7s;
  -webkit-animation-delay: .7s;
}
#l9 {
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}


.fields
{
  font-family: 'local1';
  font-size: 20px;
  color: white;
}


.input-box
{
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 1em;
  box-sizing: border-box;
  background: none;
  outline: none;
  color: #78909c;
  transition: all 0.1s ease-in;
} 

.input-box:focus
{
  border-bottom: 1px solid rgb(123, 0, 255);
}


.forgot-pass
{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.button
{
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.button1
{
  background-color: white; 
  padding: 15px 30px;
  width: 100%;
  color: black; 
  border: 2px solid #4CAF50;
}
.button1:hover
{
  letter-spacing: 3px;
  background: linear-gradient(100deg, rgb(237, 0, 0),rgb(237, 0, 0),rgb(239, 91, 91));
  color: white;
  box-shadow: 0px 3px 10px rgb(171, 111, 232);
}
.button2
{
  background-color: white; 
  padding: 15px 30px;
  width: 100%;
  color: black; 
  border: 2px solid #4CAF50;
}
.button2:hover
{
  letter-spacing: 3px;
  background: linear-gradient(100deg, rgb(58, 2, 114),rgb(58, 2, 114),rgb(171, 111, 232));
  color: white; 
  box-shadow: 0px 3px 10px rgb(171, 111, 232);
}
.button3
{
  width: 100%;
  background-color: white; 
  padding: 6px 50px;
  color: black; 
  border: 2px solid rgb(113, 56, 193);
  border-radius: 5px;
  letter-spacing: 5px;
}
.button3:hover
{
  background-color: #30082d; 
  letter-spacing: 5px;
  color: white;
  box-shadow: 2px 5px 25px lightblue;
}

.bt_text
{
  font-family: 'local3';
}


