body
{
	background-image: url("../images//s-back1.jpg");
}
.signup
{
	float: left;
	color: white;
	border-radius: 15px;
	box-shadow: 5px 10px 100px lightblue;
	width:40%;
	margin-top: 3%;
	margin-left: 4%;
	padding-bottom: 5%;

}
#head
{
	margin-left: 30%;
}

.fname
{
	font-family: 'Signika', sans-serif;
	margin-left: 15%;
	color: rgb(255, 0, 170);
}
.lname
{
	font-family: 'Signika', sans-serif;
	margin-left: 20%;
	color: rgb(255, 0, 170);
}
.fbox
{
	margin-top: 5%;
	margin-left: 15%;
}
.lbox
{
	margin-left: 7.5%;
}
.email
{
	font-family: 'Signika', sans-serif;
	margin-left: 15%;	
	color: rgb(255, 0, 170);	
}
.e-box
{
	margin-left: 15%;	
}

.input-box
{
	color: white;
	caret-color: rgb(255, 0, 170);
	background-color: black;
    border: none;
    border-bottom: 2px solid yellow;
}
.input-box:focus
{
	box-shadow: 0px 1.5px 1px red;
}

.uname
{
	font-family: 'Signika', sans-serif;
	margin-left: 15%;
	color: rgb(255, 0, 170);
}
.pass
{
	font-family: 'Signika', sans-serif;
	margin-left: 21%;
	color: rgb(255, 0, 170);
}
.ubox
{
	margin-left: 15%;
}
.pbox
{
	margin-left: 7.5%;
}
.text1
{
	margin-left: 32%;
	font-family: "Courier New", Courier, monospace;
}
.button
{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.button1
{
	background-color: white; 
	padding: 15px 45px;
    color: black; 
    border: 2px solid #4CAF50;
    margin-left: 16%;

}
.button1:hover
{
	background-color: #4CAF50;
	color: white;
	box-shadow: 2px 5px 25px rgb(16, 96, 0);
}
.button2
{
	background-color: white; 
	padding: 15px 40px;
    color: black; 
    border: 2px solid rgb(113, 56, 193);
    margin-left: 1%
}
.button2:hover
{
	background-color: rgb(113, 56, 193); 
	color: white;
	box-shadow: 2px 5px 25px rgb(131, 6, 214)
}
.button3
{
	margin-left: 32%;
	background-color: white; 
	padding: 10px 40px;
    color: black; 
    border: 2px solid rgb(113, 56, 193);
    border-radius: 15px;
}
.button3:hover
{
	background-color: #30082d; 
	color: white;
	box-shadow: 2px 5px 25px lightblue;
}
h4 
{ 
	width:300px;
	text-align:center; 
	border-bottom: 1px solid blue; 
	line-height:0.1em;
	margin-left: 85px;
	margin:20px 100 20px; 
} 
h4 span 
{ 
	border-radius: 5px;
	background:red;
	padding:0 15px; 
}
.text
{
	color:white;
	text-align: center;
	width: 400px;
	float: right;
	
	margin-top: 65px;
	margin-right: 90px;
}
.main
{
	font-size: 60px;
}
