{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activation Email</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/activation.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="text-align: center;font-size: 30px;color: rgb(58, 26, 0);">
    <div id="main">
		<i class="fa fa-envelope" style="font-size: 50px;"></i>  An Email with activation link will be sent shortly...
	</div>
</body>
</html>