{% autoescape off %}
Hello {{ user.get_username }}
We received a request to reset the password of your account
Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

If you did not initialise this request or if this is a mistake just log in to your account with your previous credentials and we will disable this link.

Sincerely,
Technical Support Team,
Technobots2k18,
Indian Institute Of Information Technology, Sri City
{% endautoescape %}