{% autoescape off %}
Hi {{ user_fullname }}
Welcome to Technobots2k18. The biggest Techfest in the history of IIIT Sri City
Your account has been successfully activated. Now you can register yourself in events

Please take a few minutes to complete your profile at:  technobots.iiits.ac.in/accounts/profile/edit-info
You can browse and register for events at: technobots.iiits.ac.in/accounts/myevents

Feel free to contact us for any query.

Sincerely,
Managing Team,
Technobots2k18,
Indian Institute Of Information Technology, Sri City
{% endautoescape %}